*{
     margin:0px;
}
.a{
     width:100%;
     height: 400px;;
     background-image:url(./../home.avif);
     background-repeat: no-repeat;
     background-size: 100% 400px;
     box-shadow: 2px 3px 8px yellow;
}
.b{
     position: sticky;
     top:0px;

}
h2{
     background-color: cornsilk;
     width: 100%;
     height: 100px;
     text-align: center;
     padding-top:20px ;
     
}
h1{
     padding-top: 150px;
     padding-left: 250px;
     color:white;
     
}