*{
     margin:0px;
}
header .img{
     background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.4)), url(./../Images/Netflix\ Background.jpg);
     width: 100vw;
     height: 700px;
     background-position: center;
     background-repeat: no-repeat;
}









