*{
     margin:0px;
}
nav{
     width:700vh;
     height:110vh;
     /* background-color: aqua; */
     
     background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
     /* background-image: url(./../Images/Netflix\ Background.jpg); */
     background-repeat: no-repeat ;
     background-position: -200px -220px  ;
     


}



