.sec1{
     display: flex;
}
*{
     text-wrap: wrap;

}
.sec2{
     height: auto;
}

.sec3 {
     width: 250px;
     height: auto;
     /* background-color: deeppink; */
     border:2px solid black;      
}  
.sec3 .p1{
     text-decoration: underline 2px solid black;
     display: flex;
     justify-content: center;
     text-wrap: wrap;
}  
.sec4{
     width:100%;
     height: auto;
     background-color: rgb(163, 162, 162);
     
}               
.sec5{
     width:100%;
     background-color: rgb(163, 162, 162);
     
}               
.sec6{
     width:100%;
     background-color: rgb(163, 162, 162);
     
}               
.sec7{
     width:100%;
     background-color: rgb(163, 162, 162);
     
}               