*{
     margin: 0;
     padding: 0;
}
.nav{
     width: 100%;
     height: 14%;
     position: fixed;
     z-index: 4;
     background-color:white;
     display: flex;
     box-shadow: 0px 0px 5px black;
}
.nav .logo{
     width:23%;
     /* background-color: blue; */
     height:100px;
     display: flex;
     align-items: center;
     justify-content:flex-end;
}
.nav .logo img{
     width:20%;
     height:80%;
     
}
.nav .links{
     width:78%;
     height: auto;
     position: relative;
     /* background-color:coral;  */
 
    
}

.links .title h1{
     /* background-color: bisque; */
     width:40%;
     height:80px;
     margin-left: 390px;
     display: flex;
     align-items: center;
     justify-content: end;
     color:rgb(214, 19, 84);

}
h1{
     font-size: 30px;
     font-weight: 900px;
     text-transform: capitalize;
}
.links .anchor ul{
     width: 40%;
     height:20px;
     /* background-color:red; */
     list-style: none;
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-left: 350px;
}
section{
     height:80%;
}
.back img{
     background-image: url(./../Images/backimg.webp);
     width:100%;
     height: 600px;
     margin-top:120px;
     
     /* background-repeat: no-repeat;
     background-size: 100% 600px; */
     
}
.sec2{
     /* background-color:gainsboro; */
     width:100%;
     height: 400px;
     display: flex;
     background-color: rgb(245, 239, 241);
     margin: 0px;
}
.sec2 .left2{
     /* background-color: blue; */
     width:50%;
     height: 500px;
     

}
.sec2 .left2 .main2{
     /* background-color: blueviolet; */
     width:50%;
     height:250px;
     margin-top:100px;
     margin-left:160px;    
}
.sec2 .left2  .main2 .sub1{
     width:100%;
     height: 50px;
     /* background-color: dimgrey; */
     
}
.sec2 .right2  .main2 .sub1{
     width:100%;
     height: 50px;
     /* background-color: dimgrey; */
     
}
.sub1 h1{
     margin-left:80px;
     color:#f23d92;
}
.sec2 .left2 .main2 .sub2{
     width:100%;
     height: 50px;
     /* background-color:red; */
     
}
.sec2 .right2 .main2 .sub2{
     width:100%;
     height: 50px;
     /* background-color:red; */
     
}
.sec2 .left2 .main2 .sub2 button{
     color:white;
     background-color: palevioletred;
     border-radius: 50px;
     width:50%;
     height: 30px;
     margin-left: 100px;
     margin-top:10px;
     transition: 1s;
     
}
.sec2 .right2 .main2 .sub2 button{
     color:white;
     background-color: palevioletred;
     border-radius: 50px;
     width:50%;
     height: 30px;
     margin-left: 100px;
     margin-top:10px;
     transition: 1s;
     
}
.sec2 .left2 .main2 .sub2 button:hover{
     border-radius: 10px;
     background-color: rgb(245, 132, 188);
}
.sec2 .right2 .main2 .sub2 button:hover{
     border-radius: 10px;
     background-color: rgb(245, 132, 188);
}

.sec2 .left2 .main2 .sub3{
     width: 100%;
     height:150px;
     /* background-color: hotpink; */
     font-size: 20px;
     font-weight: 900;
     text-align: center;
}
.sec2 .right2 .main2 .sub3{
     width: 100%;
     height:150px;
     /* background-color: hotpink; */
     font-size: 20px;
     font-weight: 900;
     text-align: center;
}
.sec2 .left2 .main2 .sub3 p{
     width:80%;
     margin-left: 40px;
     padding:10px;
}
.sec2 .right2 .main2 .sub3 p{
     width:65%;
     margin-left: 70px;
     padding:10px;
}
img{
     width:30px;
     height:30px;
     /* position:relative; */
     /* background-color: aqua; */
       
}

#f{
    position: relative;
    top: -220px;
    /* right:40px; */
    rotate:-30deg;
}
#s{
     position: relative;
     top: -100px;
     right: 40px;
     rotate:20deg;
}
#t{
     position:relative;
     top:-250px;
     left:320px;
     rotate: 20deg;
}
#fo{
     position: relative;
     top:-150px;
     left:280px;
}
#fi{
     position: relative;
     
     top:-100px;
     left:240px;
     rotate:-30deg;
}
.sec2 .right2{
     /* background-color: rgb(45, 235, 7); */
     width:50%;
     height: 500px;
}
.sec2 .right2 .main2{

     width:50%;
     height:250px;
     margin-top:100px;
     margin-left:160px; 
    
}
.sec3{
     /* background-color: aquamarine; */
     width:100%;
     height: 400px;
     display: flex;
}
.sec3 .sub1{
     /* background-color: blue; */
     width:50%;
     height:400px;
}
.sec3 .sub2{
     /* background-color: rgb(193, 29, 29); */
     width:50%;
     height:400px;
}
.sec3 .sub2 img{
     width:100%;
     height: 400px;
}
.sec3 .sub1 .a{
     /* background-color: darkorange; */
     width:100%;
     margin-left:80px;
     margin-top: 100px;
     
}
.sec3 .sub1 .b{
     /* background-color: dodgerblue; */
     width:40%;
     margin-left:160px;
}
.sec4{
     /* background-color: aqua; */
     width:100%;
     height:500px;
     display: flex;

}
.sec4 .sub1{
     /* background-color: red; */
     width:50%;
     height:500px;
     
}
.sec4 .sub1 img{
     width:100%;
     height: 100%;
}
.sec4 .sub2{
     /* background-color: bisque; */
     width:50%;
     height: 500px;
}
.sec4 .sub2 .h1{
     color: hotpink;
     width:50%;
     height:80px;
     margin-left:150px;
     margin-top:100px;
     
}
.sec4 .sub2 .p1{
     /* background-color: rgb(155, 126, 184); */
     width:27%;
     margin-left:150px;
     text-align: justify;
}
.button1{
     /* background-color: aquamarine; */
     width:40%;
     margin-top:-220px;
     margin-left:450px;
}
.button2{
     /* background-color: rgb(90, 10, 176); */
     width:40%;
     margin-left:450px;
     margin-top:80px;

}
.button3{
     /* background-color: rgb(16, 164, 23); */
     width:40%;
     margin-left:450px;
     margin-top:40px;

}
.sec4 .sub2 button{
     background-color: rgb(234, 108, 171);
     width:60%;
     font-size: 25px;
     border-radius:40px;
     border:2px solid red;
     color:white;
     text-align: center;
}
.sec4 .sub2 button:hover{
     border-radius: 80px;
     background-color:rgb(220, 143, 182);
}
/* Section5 Starts */
.sec5{
     width:100%;
     height: 500px;
     /* background-color: darkseagreen; */
     
     
}
.sec5 .head{
     width:100%;
     color:#f23d92;
     height: 60px;
     /* background-color: aqua; */
     padding-top: 25px;
     padding-left: 15px;
     

}
.video{
     display: flex;
}
.sec5 .v1{
     width:50%;
     height:250px;
     /* background-color: aquamarine; */
     display: flex;
     justify-content: end;
     align-items: end;
     
}
.sec5 .v2{
     width:50%;
     height:250px;
     /* background-color:greenyellow; */
     margin-left:10px;
}
video{
     width:60%;
     height: 100%;
     box-shadow: 15px 15px 55px black;
     /* border-left: 10px solid black; */
     /* border-right: 10px solid black; */
     
}
.aboutus {
     /* background-color: aquamarine; */
     width: 100%;
     height: 50px;
     margin-top: 30px;
     margin-left: 45%;
}
.aboutus button{
     width:10%;
     height: 35px;
     color:whitesmoke;
     background-color: #f23d92;
     border-radius: 30px;


}
.aboutus button:hover{
     background-color: #d69ab6;
     border-radius: 20px;
}

button{
     font-size: 20px;
}

/* section6 starts here  */

.sec6{
     /* background-color: aqua; */
     width: 100%;
     height: 200px;
     display: flex;
}
.sec6 .sub1{
     background-color: #fafafa;
     width: 35%;
     height: 200px;
     margin-left:250px;
     text-align: center;

}
.sec6 .sub2{
     background-color:#EBEBEB;
     width: 35%;
     height: 200px;
     text-align: center;
}
.sec6 .sub1 #h1{
     border:5px solid black;
     width:12%;
     margin-left:270px;
}
.sec6 .sub2 #h2{
     border:5px solid black;
     width:12%;
     margin-left:230px;
}
.vu{
     color: #f23d92 ;
}
.sec6 .sub1 p{
     margin-left:100px;
}
img{
     width:35px;
     height: 45px;
}
.sec7{
     width:65%;
     text-align: justify;
     font-size: small;
     margin-left: 250px;
     color: rgb(119, 118, 118);
     font-weight: 800;
}


