div{
     width:300px;
     height: 300px;
     margin-top: 70px;
     margin-left: 370px;
     background-color: aqua;
     border-radius: 100%;
     background-image: url(./../tom.jpeg);
     background-size: 100% 300px;
     background-repeat: no-repeat;

}

div:hover{
     background-image: url(./../SKY.jpg);
     box-shadow: 5px 5px 10px green;
     background-size: 100% 300px;
     
}